<app-esheader></app-esheader>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>{{ "index.titulo" | translate}}</h1>
      <h2>{{ "index.subtitulo" | translate}}</h2>
    </div>
  </section><!-- End Hero -->
  <main id="main" >

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us" >
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>{{ "index.sobre" | translate}}</h3>
              <p>
                {{ "index.descripcio" | translate}}
              </p>
              <div class="text-center">
                <a [routerLink]="['../sobrehealthworld']" routerLinkActive="active" class="text-decoration-none more-btn">{{ "index.btninfo" | translate}}<i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="fa fa-search"></i>
                    <h4>{{ "index.encontrar" | translate}}</h4>
                    <p>{{ "index.encontrardesc" | translate}}</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="fa fa-user"></i>
                    <h4>{{ "index.comentarios" | translate}}</h4>
                    <p>{{ "index.comentariosdesc" | translate}}</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="fa fa-heart"></i>
                    <h4>{{ "index.guardar" | translate}}</h4>
                    <p>{{ "index.guardardesc" | translate}}</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section>
<app-footer></app-footer>


