<app-adminheader></app-adminheader>
<section id="admin" class="d-flex align-items-center">
  <div class="container">
    <h1>Bienvenido Administrador</h1>
    <h2>Aquí puede gestionar los medicamientos y los usuarios.</h2>
  </div>
</section><!-- End admin -->
<main id="main" >

      <!-- ======= Why Us Section ======= -->
      <section id="why-us" class="why-us" >
        <div class="container">

          <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch">
              <br><br><br><br>
            </div>
          </div>

        </div>
      </section><!-- End Why Us Section -->
      <br><br><br><br>
<app-footer></app-footer>
