<app-usuario-header></app-usuario-header>

<div class="container">
  <form class="col-12">
    <div class="card col-12">
      <div class="row">
        <div class="col-12">
          <label>Palabras clave:</label>
          <div class="form-group mt-2 mb-2 col-6">
            <input class="form-control" type="text">
          </div>
        </div>
      </div>
      <div class="row px-2">
        <div class="card col-6 p-4">
          <label>Forma Farmaceutica:</label>
          <div class="form-group mt-2 mb-2">
            <select class="form-select custom-select col-6">
              <option value="0">Laboratori tal</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <hr>
          <label>Forma Farmaceutica:</label>
          <div class="form-group mt-2 mb-2">
            <select class="form-select custom-select col-12">
              <option value="0">Laboratori tal</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <hr>
          <label>Forma Farmaceutica:</label>
          <div class="form-group mt-2 mb-2">
            <select class="form-select custom-select col-12">
              <option value="0">Laboratori tal</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <hr>
          <label>Forma Farmaceutica:</label>
          <div class="form-group mt-2 mb-2">
            <select class="form-select custom-select col-12">
              <option value="0">Laboratori tal</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="card col-6 p-4">
          <label>Forma Farmaceutica:</label>
          <div class="form-group mt-2 mb-2">
            <select class="form-select custom-select col-12">
              <option value="0">Laboratori tal</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <hr>
          <label>Forma Farmaceutica:</label>
          <div class="form-group mt-2 mb-2">
            <select class="form-select custom-select col-12">
              <option value="0">Laboratori tal</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <hr>
          <label>Forma Farmaceutica:</label>
          <div class="form-group mt-2 mb-2">
            <select class="form-select custom-select col-12">
              <option value="0">Laboratori tal</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <hr>
          <label>Forma Farmaceutica:</label>
          <div class="form-group mt-2 mb-2">
            <select class="form-select custom-select col-12">
              <option value="0">Laboratori tal</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<br>
<app-footer></app-footer>
